<!DOCTYPE html>
<html>
  <head>
    <title>Vue3Tailwind2Rails6121Ruby3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_packs_with_chunks_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_packs_with_chunks_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="w-3/5 max-w-full mx-auto mb-20 mt-10" data-behavior="vue">
      <div class="mb-10 text-lg space-x-5">
        <a class="text-gray-600 hover:underline hover:text-light-blue-700" href="/">Home</a>
        <span>/</span>
        <a class="text-gray-600 hover:underline hover:text-light-blue-700" href="<%= test_path %>">Test</a>
        <span>/</span>
        <a class="text-gray-600 hover:underline hover:text-light-blue-700" href="<%= another_test_path %>">Another Test</a>
        <span>/</span>
        <a class="text-gray-600 hover:underline hover:text-light-blue-700" href="<%= todo_list_path %>">Todo Example</a>
        <span>/</span>
        <a class="text-gray-600 hover:underline hover:text-light-blue-700" href="<%= todo_lists_path %>">Todo Lists</a>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
